name: Release CI

on:
  push:
    branches:
      - "release/**"
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Build with Ant
        run: ant -noinput -Dbuild.number=$GITHUB_RUN_NUMBER -Dprepare=true publish
      - name: Release Artifacts
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "target/dist/*.*"
          draft: true